<!DOCTYPE html>
<meta charset="utf-8">
<head>
<style>
#results tbody:first-of-type tr:first-child {
  background-color: #dee2e6
}

#results-tabs .tab-content {
  padding : 10px 0px;
}

#results-tabs .nav-pills > li > a {
  border-radius: 0;
}

#main-col {
  max-width: 80%;
}

#main-col .table {
  width: auto;
}

@media (min-width: 1400px) {
  #main-col {
    max-width: 70%;
  }
}

</style>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
{% set base="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0" %}
<link rel="stylesheet" href="{{base}}/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="{{base}}/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

{% macro number_comma_or_na(n) -%}
  {{ "{:,}".format(n) if n else "N/A" }}
{%- endmacro %}

{% macro mersenne_ca_link(n, text) -%}
  <a href="//mersenne.ca/exponent/{{n}}">{{ text }}</a>
{%- endmacro %}

{% macro status_row(name, data) %}
  {# copy so we can pop number_str #}
  {% set d = dict(data) %}
  {% set raw = d.pop("raw") %}
  {% set n = d.pop("n") %}
  {% set n_str = d.pop("number_str") %}
    <tr>
      <th class="pr-4">
        <a href="{{ url_for("download", filename=name) }}">{{ name }}</a>
      </th>
      <th class="pr-3">
        {{ mersenne_ca_link(n, n_str) if raw['k'] == 1 and raw['c'] == -1 else n_str }}
      </th>
      <td>TBD</td>
      <td>{{ number_comma_or_na(d.pop("B1_progress", None)) }}</td>
      <td>{{ number_comma_or_na(d.pop("B2_progress", None)) }}</td>
      <td>TBD</td>
      <td>TBD</td>
      <td>{{ d }}</td>
    </tr>
{% endmacro %}

{% macro status_table(label, rows) -%}
<table id="results" class="table table-sm table-hover w-auto">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Filename</th>
      <th scope="col">Exponent</th>
      <th scope="col">Factors</th>
      <th scope="col">B1</th>
      <th scope="col">B2</th>
      <th scope="col">GHz-Day</th>
      <th scope="col">Updated</th>
      <th scope="col">Data</th>
    </tr>
  </thead>
  {% for name, data in rows.items() %}
  <tbody>
    {{ status_row(name, data) }}
  </tbody>
  {% endfor %}
</table>
{%- endmacro %}

<body>
  <div id='main-col' class="container">
    <h1 class="text-center">Mersenne P-1 Repository</h1>
    <br>

    <div>
      <div class="d-flex justify-content-center">
        <table id="head-stats" class="table table-sm table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Total Exponents</th>
              <th scope="col">B1</th>
              <th scope="col">B2</th>
              <th scope="col">Updates</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{total_exponents}}</td>
              <td class="pr-4">{{ "{:.1e}".format(B1_range[0]).replace("+0", "") }} to {{ "{:.1e}".format(B1_range[1]).replace("+0", "") }}
              <td class="pr-4">{{ "{:.1e}".format(B2_range[0]).replace("+0", "") }} to {{ "{:.1e}".format(B2_range[1]).replace("+", "") }}
              <td>TDB</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="d-flex justify-content-center">
        {{ status_table( "All", status ) }}
      </div>
    </div>
  </div>
</body>
